// Define variables for your color scheme

// Bootstrap:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-creme: #fbead5;

// Custom colors:

$dark-green: #676F60;
$olive-green: #9CA891;
$mint-green: #D9E7DC;
$body-yellow: #FBF4D8;
$mood-yellow: #F8E9B1;
$mood-blue: #ABDEE9;
$mood-green: #C4DEBB;
$mood-orange: #FBA996;
$mood-red: #DB6868;
$text-dark: #181A17;
