.confirmbox {
  display: flex;
  height: calc(100vh - 380.4px);
  align-items: center;
}

.confirmbody {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 4px lightgrey;
  padding: 25px;
}

.confirm-heading {
  font-size: 20px;
}

.zenquote {
  margin: 70px 20px;
}

.zenquote-quote {
  font-size: 40px;;
}

.zenquote-author {
  font-size: 25px;
}
