#mood {
  width:100%;
  height:208px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
  margin-top: 30px;
  box-shadow: 2px 2px 4px lightgrey;
  padding: 55px 0;
}

.mood-selected {
  width:100%;
  height:208px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
  margin-top: 30px;
  box-shadow: 2px 2px 4px lightgrey;
  padding: 29px 45px;
}

.mood-arrange {
  display: grid;
  gap: 10px;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-auto-flow: row dense;
}

.mood-face {
  width: 150px;
  height: 150px;
}

.mood-face-wrapper {
  text-align: center;
}

.mood-left-text {
  padding-top: 56px;
  font-weight: bold;
}

.mood-right-text {
  text-align: right;
  vertical-align: middle;
  padding-top: 56px;
  font-weight: bold;
}
