#search-results {
  display: grid;
  justify-content: center;
  grid-template: repeat(3, 3fr) / repeat(2, 3fr);
  grid-auto-flow: row dense;
  justify-content: space-between;
  gap: 20px;
  width: calc(100% - 10px);
  margin-top: -25px;
}

.search-box-container {
  display: inline-block;
  overflow: hidden;
  margin-right: 25px;
  input:focus{
    outline: none;
  }
}

.searchbox {
  margin-right: 5px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #9ca891;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #181A17;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  text-align: left;
  text-decoration: none;
  height: 41.8px;
}

.button-74-search {
  background-color: #dfe5dc;
  border-radius: 30px;
  border: 1px solid #9ca891;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #181A17;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 41.8px;
  width: 40px;
}

.button-74-search:hover {
  background-color: #9CA891;
}

.button-74-search:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 920px) {
  .button-74-search {
    min-width: 120px;
    padding: 0 25px;
    margin-right: 17px;
  }
}
