<div class="banner d-flex align-items-center justify-content-center mb-3" style="background-color: #FFF8DD">
  <div class="container m-5">
    <div class="text-center">
      <h1 class="pb-2">What are you grateful for?</h1>
      <button class="btn btn-sm btn-outline-dark">Show another inspiration</button>
    </div>
  </div>
</div>
