<div class="col-lg-6 h-100 mt-4">
  <div class="card mb-3 rounded-5">
    <div class="card-body">
      <h3><%= title %></h3><h6><%= date %></h6>
      <h6><i class="fa-solid fa-location-dot"></i> <%= address %></h6>
      <p><%= content %></p>
    </div>
  </div>
</div>
