

<div class="container">



  <h1>My Journal entries</h1>
  <div class="row">
    <% @entries_on_same_date.each do |entry| %>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3><%= entry.created_at.strftime("%B %d, %Y") %></h3>
            <p><%= entry.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <a href="#" class="btn btn-primary btn-sm">Family Time</a>
  <a href="#" class="btn btn-primary btn-sm">Vacation</a>
  <a href="#" class="btn btn-primary btn-sm">Alcohol</a>

  <hr>

<% if @entries_on_same_date.any? %>
  <div class="jumbotron bg-primary text-white">
    <h3><%= @entries_on_same_date.first.created_at.strftime("%B %d, %Y") %></h3>
  </div>
<% end %>

</div>
