<div class="container">
<h1>Entry Show Page</h1>
  <div class="d-flex justify-content-between mb-4">
   <div class="card">
     <h2>Test 1</h2>
     <p> This is a test paragraph to see how this might look like </p>
   </div>
   <div class="card">
     <h2>Test 2</h2>
     <p> This is a test paragraph to see how this might look like </p>
   </div>
  </div>
  <div class="d-flex justify-content-evenly">
    <div><%= image_tag "Two.jpeg" %></div>
    <div><%= image_tag "Two.jpeg" %></div>
    <div><%= image_tag "Two.jpeg" %></div>
  </div>
  <div>
    <%= image_tag "" %>
  </div>
</div>
