<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <p class="mb-0 mt-3">BetterMe Team - Batch 1244</p>
      <p class="mb-0 mt-3">Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank" class="text-decoration-none link-secondary">ZenQuotes API</a></p>
    </div>
  </div>
</div>
