<div class="chart-box">
  <%= line_chart chart_data,
      discrete: true,
      label: "Mood",
      xtitle: "Day",
      ytitle: "Mood",
      loading: "Loading mood data...",
      empty: "No mood history",
      download: true,
      colors: ["#33372F", "#666"],
      legend: false %>
</div>
