<div class="chart-box">
  <h4 class="chart-title">Mood history - last 14 days</h4>
  <%= line_chart chart_data,
      discrete: true,
      label: "Mood",
      ytitle: "Mood",
      loading: "Loading mood data...",
      empty: "No mood history",
      download: true,
      colors: ["#33372F", "#666"],
      legend: false,
      width: "1180px",
      height: "262px" %>
</div>
