<div class="mood-selected">
  <div class="mood-arrange">
    <h3 class="mood-left-text">Today's mood: Awesome!</h3>
    <div class="mood-face-wrapper">
      <%= image_tag "selected_awesome.png", alt: "Awesome", class: "mood-face" %>
    </div>
    <h2 class="mood-right-text">Keep going!</h2>
  </div>
</div>
