<div id="mood" class="card p-4" style="background-color: #FFF; box-shadow: inset 3px 4px 5px #000;">
  <div class="d-flex justify-content-between align-items-center">
    <h3><strong>Today's mood: Awesome!</strong></h3>
    <%= image_tag "selected_awesome.png", alt: "Awesome", height: 150 %>
    <h2 style="padding-right: 35px;"><strong>Keep going!</strong></h2>
  </div>
</div>
