<div class="banner d-flex align-items-center justify-content-center mb-3" style="background-color: #fff5bf">
  <div class="container m-5">
    <h4>06 June 2023</h4>
    <div class="text-center">
      <h1 class="pb-2">I will be more present and kind</h1>
      <button class="btn btn-sm btn-outline-dark">Edit</button>
    </div>
  </div>
</div>
