<div class="banner d-flex align-items-center justify-content-center mb-3" style="background-color: #fff5bf">
  <div class="container m-5">
    <h3><strong>06 June 2023</strong></h3>
    <div class="d-flex" data-controller="theme">
      <h1 class="pb-2" data-theme-target="themeheader"><ul>I will be more present and kind</ul></h1>
      <input type="text" name="themetext" id="themetext" data-theme-target="themeinput" class="d-none">
      <p data-theme-target="editbutton" data-action="click->theme#displayForm"><i class="fa-solid fa-pen"></i></p>
      <p class="d-none" data-theme-target="checkbutton" data-action="click->theme#hideForm"><i class="fa-solid fa-check"></i></p>
    </div>
  </div>
</div>
