<div class="card p-4 moodcard" style="background-color:#FFDED7; border-radius: 20px">
  <h3 class="mb-4">Today's mood:</h3>
  <div class="d-flex justify-content-center">
    <%= image_tag "Happy_wt.png", alt: "Happy", height: 100 %>
  </div>
</div>
