<div class="mood-selected">
  <div class="mood-arrange">
    <h3 class="mood-left-text">Today's mood: Happy!</h3>
    <div class="mood-face-wrapper">
      <%= image_tag "selected_happy.png", alt: "Awesome", class: "mood-face" %>
    </div>
    <h2 class="mood-right-text">You're doing great!</h2>
  </div>
</div>
