<div id="mood" class="card p-4" style="background-color:#F3CDCD;">
  <h3 class="mb-4">Today's mood:</h3>
  <div class="d-flex justify-content-center">
    <%= image_tag "Terrible_wt.png", alt: "Terrible", height: 100 %>
  </div>
</div>
