<div style="background-color: #fff5bf">
  <div>
    <h1>Your journal entry has been saved.</h1>
    <p><%= @zenquote.quote %></p>
    <p>&mdash;<%= @zenquote.author %></p>
    <button class="btn btn-primary">Return to Home Page</button>
  </div>
</div>
