<div>
  <h1>Date</h1>
  <p>I will be more present and kind -edit button-</p>
</div>


<div class="container">

  <div class="d-flex justify-content-between">
    <div>
      <h3>How are you feeling today?</h3>
      <p>Mood pills</p>
    </div>

    <div>
      <h3>Make an entry Link</h3>
    </div>
  </div>

  <div class="card">
    <h2>Mood history over time</h2>
    <p>Line graph</p>
  </div>

  <div class="d-flex justify-content-between">
    <h2 class="card">Calendar</h2>

    <h2 class="card">Map</h2>
  </div>

  <div class="d-flex justify-content-evenly">
    <div class="card">
      <h2>10 July 2023</h2>
      <p>Holiday  Exercise  Family</p>
      <p>Stellenbosch, South Africa</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
    </div>

    <div class="card">
      <h2>10 July 2023</h2>
      <p>Holiday  Exercise  Family</p>
      <p>Stellenbosch, South Africa</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
    </div>

    <div class="card">
      <h2>10 July 2023</h2>
      <p>Holiday  Exercise  Family</p>
      <p>Stellenbosch, South Africa</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
      <p>Entry Title</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur a, odio ullam officia, repellendus sapiente, eligendi illo modi ipsum quia esse nam incidunt optio quo. Architecto molestias error consequatur.</p>
    </div>
  </div>

</div>
