<div class="home-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('<%= image_path "zen_4.jpg" %>')">
  <h1 class="home-banner-heading">BetterMe</h1>
  <h2 class="home-banner-text">Your Mental Health Journaling Companion</h2>
</div>

<div class="home-container">
  <div class="introduction bg-white py-3 pb-4 text-center">
    <h1 class="home-heading">Mental Health Journaling Matters</h1>
    <p class="home-p"> Discover the transformative power of mental health journaling with our innovative app.
      Take a moment each day to prioritize your well-being and embark on a journey of self-discovery.
      Journaling matters, it empowers you to express your innermost thoughts, emotions, and experiences in a safe & confidential space.
    </p>
    <br>
    <p class="home-p"> Uncover patterns, triggers, and insights as you delve into your own mind, cultivating self-awareness and promoting personal growth.
      With our app, you can foster resilience, reduce stress, and improve your overall mental well-being.
      Start your journaling adventure today and unlock a path to a happier, healthier you.
    </p>
  </div>

  <div class="bg-white pl-3 py-5 pb-4">
    <h1 class="home-heading">Key Features</h1>
    <div class="d-flex justify-content-center align-items-center home-feature-box">
      <div class="flex-container">
        <%= image_tag "daily_moods.png", alt: "daily-moods", class: "img-fluid", style: "width: 500px" %>
      </div>
      <div class="flex-container text-center" style="width: 500px;">
        <h2>Stay mindful with our daily mood tracker.</h2>
        <p class="text-wrap">Select your daily mood and let our app track it for you.</p>
      </div>
    </div>
  </div>

  <div class="bg-white pl-3 py-5 pb-4">
    <div class="d-flex justify-content-center align-items-center home-feature-box">
      <div class="flex-container text-center" style="width: 500px;">
        <h2 class="text-break">Be ahead of your emotions & unconscious patterns.</h2>
        <p class="text-wrap text-break">See your mood graph, calendar entries and location to uncover patterns.</p>
      </div>
      <div class="flex-container">
        <%= image_tag "insights.png", alt: "insights", class: "img-fluid", style: "width: 500px" %>
      </div>
    </div>
  </div>

  <div class="bg-white pl-3 pt-5 pb-3">
    <div class="d-flex justify-content-center align-items-center home-feature-box">
      <div class="flex-container">
        <%= image_tag "Daily entries.png", alt: "daily-entries", class: "img-fluid", style: "width: 300px; height: 400px" %>
      </div>
      <div class="flex-container text-center" style="width: 500px;">
        <h2 class="text-break">All your entries in one place.</h2>
        <p class="text-wrap text-break">Easily review your daily or weekly entries from any device.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center mb-5">What Our Users Say</h2>
    <div class="row">
      <div class="col">
        <div class="testimonial-box">
          <h4 class="testimonial-heading">I am now much more self-aware</h4>
          <p class="testimonial-text">"This app has been a game-changer for me. It has helped me gain self-awareness and manage my emotions effectively."</p>
          <p class="testimonial-author">- Jonothan</p>
        </div>
      </div>
      <div class="col">
        <div class="testimonial-box">
          <h4 class="testimonial-heading">My favorite companion </h4>
          <p class="testimonial-text">"The Better Me app has transformed my mental health journey. It's my daily companion for self-reflection and growth."</p>
          <p class="testimonial-author">- Samantha</p>
        </div>
      </div>
      <div class="col">
        <div class="testimonial-box">
          <h4 class="testimonial-heading">An excellent tool for my thoughts</h4>
          <p class="testimonial-text">"I've never experienced such a powerful tool for personal growth. The insights and self-reflection it provides are invaluable."</p>
          <p class="testimonial-author">- Kristen</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <h2 class="signup-heading">See the world in a new way</h2>
      <p class="signup-p">Start your journalling journey today by signing up for out newsletter</p>
      <form>
        <div class="input-group">
          <input type="email" class="form-control" style="max-width: 300px;" placeholder="Enter your email">
          <button class="btn btn-primary">Sign Up</button>
        </div>
      </form>
</div>
