<div class="container">
  <div id="entries" class="row mt-5">
  <h1>Search results:</h1>
    <% @results.each do |entry| %>
      <%= render partial: "entries/entry_card", locals: { title: entry.title, date: entry.date, address: entry.address ,content: entry.content, photos: entry.photos } %>
    <% end %>
  </div>
</div>
