<div class="container">
  <div id="entries" class="row mt-5">
  <h1>Search results:</h1>
    <% @results.each do |entry| %>
      <%= render partial: "entries/entry_card", locals: { entry: entry } %>
    <% end %>
  </div>
</div>
