#button-74 {
  background-color: #9CA891;
  border-radius: 30px;
  border: 1px solid #9CA891;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #181A17;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  padding: 5px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-74:hover {
  background-color: #fff;
}

#button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 920px) {
  #button-74 {
    min-width: 120px;
    padding: 0 25px;
    margin-right: 17px;
  }
}
