.devise-remember {
  padding-inline-start: 24px;
}

// The !important declarations are to override the default bootstrap of simple form
.devise-primary-button {
  background-color: #9CA891 !important;
  border-radius: 30px !important;
  border: 1px solid #9CA891;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #181A17;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.devise-primary-button:hover {
  background-color: #fff !important;
}

.devise-primary-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.devise-button-spacing {
  margin-block-end: 16px;
}
