.scroll-container {
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  max-width: 100%;
  width: fit-content;
  border-radius: 20px;
}

.scroll-container img {
  padding: 10px;
}

.show {
  background-color: #FDF8E6;
}
